[Unit]
Description=bpfjailer enrollment request %i
Requires=bpfjsrv.socket
After=bpfjsrv.socket

[Service]
Type=oneshot
ExecStart=/usr/local/bin/bpfjsrv

StandardInput=socket
StandardOutput=journal
StandardError=journal

User=root
CapabilityBoundingSet=CAP_BPF CAP_SYS_ADMIN CAP_SYS_PTRACE
AmbientCapabilities=CAP_BPF CAP_SYS_ADMIN CAP_SYS_PTRACE

TimeoutStartSec=10s
