[Unit]
Description=bpfjailer enrollment socket

[Socket]
ListenSequentialPacket=@bpfj
Accept=yes

Backlog=128
MaxConnectionsPerSource=16

[Install]
WantedBy=sockets.target
